#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

navbar > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
}
